{% extends 'base.html' %}
{% block main %}

<div class="container">
    <div class="itemWrap">

        <div class="item" id="alfaromeo" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/alfaRomeo.png') }}" alt="Alfa Romeo"
                    width="100">
            </div>
        </div>
        <div class="item" id="astonmartin" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/astonMartin.png') }}" alt="Aston Martin"
                    width="100">
            </div>
        </div>
        <div class="item" id="audi" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/audi2.png') }}" alt="Audi" width="100">
            </div>
        </div>
        <div class="item" id="bmw" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/bmw2.png') }}" alt="BMW" width="100">
            </div>
        </div>
        <div class="item" id="chery" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/chery.png') }}" alt="Chery" width="100">
            </div>
        </div>
        <div class="item" id="chevrolet" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/chevrolet.png') }}" alt="Chevrolet"
                    width="100">
            </div>
        </div>
        <div class="item" id="chrysler" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/chrysler.png') }}" alt="Chrysler" width="100">
            </div>
        </div>
        <div class="item" id="citroen" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/citroen.png') }}" alt="Citroen" width="100">
            </div>
        </div>
        <div class="item" id="dacia" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/dacia.png') }}" alt="Dacia" width="100">
            </div>
        </div>
        <div class="item" id="daewoo" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/daewoo.png') }}" alt="Daewoo" width="100">
            </div>
        </div>
        <div class="item" id="daihatsu" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/daihatsu.png') }}" alt="Daihatsu" width="100">
            </div>
        </div>
        <div class="item" id="ds" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/ds.png') }}" alt="DS" width="100">
            </div>
        </div>
        <div class="item" id="ferrari" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/ferrari.png') }}" alt="Ferrari" width="100">
            </div>
        </div>
        <div class="item" id="fiat" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/fiat2.png') }}" alt="Fiat" width="100">
            </div>
        </div>
        <div class="item" id="ford" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/ford.png') }}" alt="Ford" width="100">
            </div>
        </div>
        <div class="item" id="geely" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/geely.png') }}" alt="Geely" width="100">
            </div>
        </div>
        <div class="item" id="honda" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/honda.png') }}" alt="Honda" width="100">
            </div>
        </div>
        <div class="item" id="hyundai" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/hyundai.png') }}" alt="Hyundai" width="100">
            </div>
        </div>
        <div class="item" id="jaguar" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/jaguar.png') }}" alt="Jaguar" width="100">
            </div>
        </div>
        <div class="item" id="kia" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/kia.png') }}" alt="Kia" width="100">
            </div>
        </div>
        <div class="item" id="lada" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/lada.png') }}" alt="Lada" width="100">
            </div>
        </div>
        <div class="item" id="landrover" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/landRover.png') }}" alt="Land Rover"
                    width="100">
            </div>
        </div>
        <div class="item" id="maserati" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/maserati.png') }}" alt="Maserati" width="100">
            </div>
        </div>
        <div class="item" id="mazda" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/mazda.png') }}" alt="Mazda" width="100">
            </div>
        </div>
        <div class="item" id="mercedes-benz" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/mercedesBenz.png') }}" alt="Mercedes - Benz"
                    width="100">
            </div>
        </div>
        <div class="item" id="mg" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/mg.png') }}" alt="MG" width="100">
            </div>
        </div>
        <div class="item" id="mini" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/mini.png') }}" alt="Mini" width="100">
            </div>
        </div>
        <div class="item" id="mitsubishi" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/mitsubishi.png') }}" alt="Mitsubishi"
                    width="100">
            </div>
        </div>
        <div class="item" id="nissan" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/nissan.png') }}" alt="Nissan" width="100">
            </div>
        </div>
        <div class="item" id="opel" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/opel.png') }}" alt="Opel" width="100">
            </div>
        </div>
        <div class="item" id="peugeot" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/peugeot.png') }}" alt="Peugeot" width="100">
            </div>
        </div>
        <div class="item" id="porsche" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/porsche.png') }}" alt="Porsche" width="100">
            </div>
        </div>
        <!-- <div class="item" id="proton" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/proton.png') }}" alt="Proton" width="100">
            </div>
        </div> -->
        <div class="item" id="renault" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/renault.png') }}" alt="Renault" width="100">
            </div>
        </div>
        <div class="item" id="rollsroyce" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/rollsRoyce.png') }}" alt="Rolls Royce"
                    width="100">
            </div>
        </div>
        <div class="item" id="rover" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/rover.png') }}" alt="Rover" width="100">
            </div>
        </div>
        <div class="item" id="saab" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/saab.png') }}" alt="Saab" width="100">
            </div>
        </div>
        <div class="item" id="seat" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/seat.png') }}" alt="Seat" width="100">
            </div>
        </div>
        <div class="item" id="skoda" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/skoda.png') }}" alt="Skoda" width="100">
            </div>
        </div>
        <div class="item" id="smart" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/smart.png') }}" alt="Smart" width="100">
            </div>
        </div>
        <div class="item" id="subaru" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/subaru.png') }}" alt="Subaru" width="100">
            </div>
        </div>
        <div class="item" id="suzuki" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/suzuki.png') }}" alt="Suzuki" width="100">
            </div>
        </div>
        <div class="item" id="tata" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/tata.png') }}" alt="Tata" width="100">
            </div>
        </div>
        <div class="item" id="tofas" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/tofas.png') }}" alt="Tofaş" width="100">
            </div>
        </div>
        <div class="item" id="toyota" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/toyota.png') }}" alt="Toyota" width="100">
            </div>
        </div>
        <div class="item" id="volkswagen" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/volkswagen.png') }}" alt="Volkswagen"
                    width="100">
            </div>
        </div>
        <div class="item" id="volvo" onclick="selectBrand(id)">
            <div class="itemLogoContainer">
                <img src="{{ url_for('static', filename='images/carLogos/volvo.png') }}" alt="Volvo" width="100">
            </div>
        </div>
    </div>

    <form action="/seri" method="post">
        <input type="text" id="markaTxt" hidden name="marka" value="">
        <button class="onaylaButtonDisable" disabled id="buttonOnayla" type="submit">



            <span
                style="font-size: 15px; font-style: normal; font-family: apercu-pro, system-ui, sans-serif; font-weight: 600; white-space: nowrap; letter-spacing: 0;">Onayla</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2"
                viewBox="0 0 16 16" style="margin-top: 3px; margin-left: 3px;">
                <path
                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
            </svg>
        </button>
    </form>
</div>

<script>
    let model = ""
    function disableButton() {
        document.getElementById('buttonOnayla').disabled = true;
        document.getElementById('buttonOnayla').classList.remove("onaylaButton");
        document.getElementById('buttonOnayla').classList.add("onaylaButtonDisable");
        model = "";
    }
    function enableButton() {

        document.getElementById('buttonOnayla').disabled = false;
        document.getElementById('buttonOnayla').classList.add("onaylaButton");
        document.getElementById('buttonOnayla').classList.remove("onaylaButtonDisable");
    }
    function unselectBrand() {
        document.getElementById(model).classList.add("item");
        document.getElementById(model).classList.remove("itemSelected")

    }
    function selectBrand(modelfc) {
        if (model.length > 1) {
            unselectBrand();
        }
        model = modelfc;
        enableButton();
        document.getElementById(model).classList.add("itemSelected")
        document.getElementById(model).classList.remove("item")
        document.getElementById("markaTxt").setAttribute("value", model);
    }
</script>

{% endblock %}